.header__lang-link {
    font-style: normal;
    font-weight: normal;
    margin-left: 18px;
    color: #ffffff;
    text-decoration: none;
    
}

.header__lang-link:visited, .header__lang-link:hover, .header__lang-link:active, .header__lang-link:focus {
    text-decoration: underline;
    opacity: 0.8;
}