.cover__background {
    position: relative;
    min-height: 740px;
    max-width: 100%;
    object-fit: cover;
    background-image: url(../../../images/dmitrii-vaccinium-22833.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1024px) {
    .cover__background {
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media (max-width: 425px) {
    .cover__background {
        min-height: 266px;
    }
}

@media (max-width: 320px) {
    .cover__background {
        min-height: 200px;
    }
}